.mb-lg {
  margin-bottom: 3.8rem;
}

.mb-md {
  margin-bottom: 2.8rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-xs {
  margin-bottom: 1.6rem;
}

.mb-xxs {
  margin-bottom: 1.3rem;
}

.text-sm {
  font-size: 1.2rem;
}

.flex {
  align-items: center;
  display: flex;
}

.sp-bt {
  justify-content: space-between;
}

.inline-flex {
  align-items: center;
  display: inline-flex;
}
