.card-login {
  position: relative;
}

.card-login_logo {
  margin: 0 auto;
  width: 14.9rem;
  z-index: 1;
}

.card-login:before {
  background-image: url('../images/left_illustration.svg');
  background-size: contain;
  content: '';
  height: 323px;
  left: -336px;
  position: absolute;
  top: 139px;
  width: 345px;
  z-index: -10;
}

.card-login:after {
  background-image: url('../images/right_illustration.svg');
  background-size: contain;
  content: '';
  height: 345px;
  position: absolute;
  right: -316px;
  width: 328px;
  top: 200px;
  z-index: -10;
}

@media (max-width: 1100px) {
  .card-login:before,
  .card-login:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .center-wrapper {
    width: 95%;
  }

  .card-login {
    width: 100%;
  }
}
