@import url('card.css');
@import url('card-login.css');
@import url('form.css');
@import url('helpers.css');
@import url('icon.css');
@import url('grid.css');

@font-face {
  font-display: swap;
  font-family: GCentra;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gcentra-book.woff2) format("woff2"),
    url(../fonts/gcentra-book.woff) format("woff");
}

:root {
  --color-black: 82, 82, 87;
  --color-gray1: #f8f8f8;
  --color-gray2: #dcdcdc;
  --color-white: #ffffff;

  --color-primary: #387e7f;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--color-black);
  font-family: GCentra, --sytem, sans-serif;
  font-size: 10px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.layout {
  display: flex;
  font-size: 1.3rem;

  height: 742px;
  width: 160rem;
}

.main-container {
  margin-right: 2.6rem;
  padding-top: 2.9rem;
  width: 117.2rem;
}

.right-container {
  width: 40rem;
}
